h1 {
  color: #E64D68;
}

h2 {
  color: #E64D68;
  border-bottom: 3px solid #F0D84D;
}

body {
  font-family: "Untitled Serif Regular";
  margin: 0;
  background-color: #f6f9fc;
}

body em {
  font-family: "Untitled Serif Italic";
}

body strong {
  font-family: "Untitled Serif Bold";
}

a {
  text-decoration: none;
  color: #008847;
}

a:hover {
  color: #85B800;
}

nav {
  background-color: #E64D68;
  padding: 10px;
  text-align: center;
}

nav a.site-name {
  color: #f6f9fc;
  background-color: inherit;
  padding: 0px;
  font-size: 1.2em;
  display: inline;
  border-bottom: 0px;
  border-radius: 0px;
}

nav a.site-name:hover {
  color: #f6f9fc;
  padding: none;
  background-color: inherit;
}


@media (min-width: 740px) {
  nav {
    text-align: inherit;
  }

  nav a.site-name {
    font-size: 2em;
  }
}

.content {
  margin: 45px 30px;
}

/* Limit to home page */
.home h2 {
  grid-row: 1;
  margin-top: 50px;
}

@media (min-width: 740px) {
  .home .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }
}

.home h2 {
  grid-row: 1;
}

.home ul {
  grid-row: 2;
  padding-left: 15px;
}

.home p {
  text-align: center;
  grid-row: 3;
}

.home .content a {
  font-family: "Untitled Sans Medium";
  color: #f6f9fc;
  background-color: #E64D68;
  padding: 10px;
  display: block;
}

.home .content a:hover {
  color: #f6f9fc;
  background-color: #008847;
}

@font-face {
  font-family: 'Untitled Serif Regular';
  src: url("./fonts/UntitledSerifTest-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Untitled Serif Italic';
  src: url("./fonts/UntitledSerifTest-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: 'Untitled Serif Bold';
  src: url("./fonts/UntitledSerifTest-Bold.woff") format("woff"); }

/*@font-face {
  font-family: 'Untitled Serif Bold Italic';
  src: url("./fonts/UntitledSerifTest-BoldItalic.woff") format("woff"); }
*/
@font-face {
  font-family: 'Untitled Sans Medium';
  src: url("./fonts/UntitledSansTest-Medium.woff") format("woff"); }

/*@font-face {
  font-family: 'Untitled Sans Italic';
  src: url("./fonts/UntitledSansTest-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Untitled Sans Bold';
  src: url("./fonts/UntitledSansTest-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Untitled Sans Bold Italic';
  src: url("./fonts/UntitledSansTest-BoldItalic.woff") format("woff"); }
*/
/*
http://paletton.com/palette.php?uid=33w0O0klLu595Yzi%2BDyp6oyqye-
background: #f6f9fc;

red: #E64D68;
yellow: #F0D84D;
blue: #C1D8E8;

green: #008847;
light green: #85B800;
*/
